<% if notice || alert %>
  <div class="col-12 alert alert-<%= notice ? "success" : "danger" %> alert-dismissible fade show" role="alert">
    <%= notice ? notice : alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% else %>
  <div class="row flash-messages">
    <div class="col-sm-12">
      <% flash.each do |name, msg| %>
        <div class='alert alert-<%= "#{name}" %>'>
          <%= msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    </div>
  </div>
<% end %>